In [96]:
o = 5
b=3

y = o+b
y

8

In [95]:
a= 3
b = 5
c=a//b
print(type(c))
print(c)

<class 'int'>
0

In [97]:
name = input()

print(f'{name}님 환영합니다.')

5
5님 환영합니다.

In [98]:
type(name)

str

In [8]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [115]:
sum=0
sub = 0
for i in range(1,11):
    if i%2==1:
        sum+=i
    elif i%2==0:
        sub+=i
    
print(f'{sum}는 홀수의 합입니다.')
print(f'{sub}는 짝수의 합입니다.')

25는 홀수의 합입니다.
30는 짝수의 합입니다.

In [116]:
sum=0
sub = 0
sui = 0
for i in range(1,11):
    if i%3==2:
        sum+=i
    elif i%3==1:
        sub+=i
    elif i%3==0:
        sui+=i
    
print(f'{sum}')
print(f'{sub}')
print(f'{sui}')

15
22
18

In [120]:
lio = [1,2,3.123,'앙',56.3,3,4,5]
lio

[1, 2, 3.123, '앙', 56.3, 3, 4, 5]

In [121]:
for i in lio:
    print(i,end=":")

1:2:3.123:앙:56.3:3:4:5:

In [122]:
reversed_list = lio[::-1]
reversed_list

[5, 4, 3, 56.3, '앙', 3.123, 2, 1]

In [123]:
type(lio)

list

In [129]:
uuu = 'H e l l o , W o r l d !'

uuu = uuu.split(' ')

for i in range(1,13):
    print(uuu[-i],end='')

!dlroW,olleH

In [13]:
a, b = map(int,input().split())
a * b

3 4

12

In [15]:
lio[2]

3

In [77]:
lio[0]+lio[1]+lio[2]+lio[3]+lio[4]

15

In [65]:
yu = "python"

yu*3

'pythonpythonpython'

In [135]:
for i in range(1,10):
    print()
    for j in range(1,10):
        print(i*j,end=" ")

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81