In [2]:
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [4]:
for i in range(1,11):
    if i%2==0:
        print(i , end=' ')

2 4 6 8 10

In [6]:
n = int(input(""))

for i in range(1,10):
    print(f"{n} x {i} = {n*i}")

4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [10]:
sum = 0
for i in range(1,101):
    if i%3==0:
        sum +=i
        
print(sum)

1683

In [17]:
so = int(input())

if so > 1:
    for i in range(2,so//2 + 1):
        if(so % i) == 0:
            print(so,"은(는) 소수가 아닙니다.")
            break
        else:
            print(so,"은(는) 소수입니다.")
else:
    print(so,"은(는) 소수가 아닙니다.")

7
7 은(는) 소수입니다.
7 은(는) 소수입니다.

In [23]:
def add(a,b=2):
    return a+b

def add(a,b,c):
    return a+b+c

c = add(1,2,3)
print(c)

6

In [22]:
def sub(a,b):
    return a - b

d = sub(1,2)
print(d)

-1

In [24]:
def cal(ca,a,b):
    if ca == "+":
        return a+b
    elif ca == "-":
        return a-b
    else:
        return False
    
print(cal("+",5,4))

9

In [38]:
a = 1
def vartest():
    global a
    a = a+1
    return a
    
c = vartest()
c

2

In [41]:
add = lambda a,b : a + b
result = add(3,4)
result

7

In [49]:
f = open("Hello.txt","w") #파일의 시작부터 W  ,  파일의 거기서부터 a 시작위치가 다르데
for i in range(1,11):
    data = "%d lines \n"%i
    f.write(data)
f.close()

In [50]:
f = open("Hello.txt","r")
while True:
    l = f.readline()
    if not l: break
    print(l,end="")
f.close()

1 lines
2 lines
3 lines
4 lines
5 lines
6 lines
7 lines
8 lines
9 lines
10 lines

In [65]:
class Calculator:
    def __init__(self,sum):
        self.sum = sum
        self.result = 0
        
    def add(self,num):
        self.result = self.sum + num
        return self.result
    
cal1 = Calculator(1)
cal2 = Calculator(2)

In [73]:
r1 = cal1.add(3)
r1

4

In [72]:
r2 = cal2.add(2)
r2

4