In [7]:
sum = 0

for i in range(1,100):
    sum+=i
    i+=1
    
print(f'합 : {sum}')
print(f'평균 : {sum//100}')

합 : 4950
평균 : 49

In [8]:
def print_hi(name):
    print(f'Hi,{name}')

In [9]:
if __name__ == '__main__':
    print_hi('Hello, World!')

Hi,Hello, World!

In [11]:
my_list = ['jessa','kelly',20,35,75]
print(my_list)
print(type(my_list))

['jessa', 'kelly', 20, 35, 75]
<class 'list'>

In [13]:
print(my_list[0])

jessa

In [15]:
print(my_list[1:5])

['kelly', 20, 35, 75]

In [17]:
my_list[1] = 'Emma'
print(my_list[1])

Emma

In [18]:
my_list2 = list(['Jessa','kelly',20,35,75])
print(my_list2)

['Jessa', 'kelly', 20, 35, 75]

In [19]:
a = [1,2,3]

a.insert(0,4)
a

[4, 1, 2, 3]

In [43]:
sum=0
for x in [1,2,3]:
    sum+=x
    
    
    
print(sum)

6